<!DOCTYPE html>
<html lang="en">
<head>
    <title>固化终点-模量图</title>
    <!-- 引入jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- 引入ECharts库 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.0/dist/echarts.min.js"></script>
    <!-- 引入Bootstrap的JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- 引入Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* 设置图表容器的定位方式 */
        .chart-container {
            position: relative;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4 text-center">固化终点-模量图展示</h1>
    <div class="row">
        <div class="col-md-6">
            <div id="chart-1" class='chart-container' style="width: 100%; height: 600px;"></div>
        </div>
        <div class="col-md-6">
            <div id="chart-2" class="chart-container" style="width: 100%; height: 600px;"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // 假设后端传来的数据为 formulationData
    var formulationData = JSON.parse('{{ chart_data | safe }}');

    var chart1 = echarts.init(document.getElementById('chart-1'));
    var chart2 = echarts.init(document.getElementById('chart-2'));

    // 获取不重复的配方号列表和温度列表
    var formulationIds = [];
    var temperaturesEM = [];
    var temperaturesLM = [];
    formulationData.forEach(function (item) {
        if (!formulationIds.includes(item.formulation_id)) {
            formulationIds.push(item.formulation_id);
        }
        if (!temperaturesEM.includes(item.temperature)) {
            temperaturesEM.push(item.temperature);
        }
        if (!temperaturesLM.includes(item.temperature)) {
            temperaturesLM.push(item.temperature);
        }
    });

    // 组织数据
    var seriesData = [];
    var seriesDataLM = [];
    temperaturesEM.forEach(function (temperature) {
        var temperatureSeriesData = formulationData.filter(function (item) {
            return item.temperature === temperature;
        }).map(function (item) {
            return item.energy_storage_mod;
        });

        seriesData.push({
            name: temperature + '°C',
            type: 'bar',
            data: temperatureSeriesData
        });
    });

    temperaturesLM.forEach(function (temperature) {
        var temperatureSeriesData = formulationData.filter(function (item) {
            return item.temperature === temperature;
        }).map(function (item) {
            return item.loss_mod;
        });

        seriesDataLM.push({
            name: temperature + '°C',
            type: 'bar',
            data: temperatureSeriesData
        });
    });

    var option = {
        title: {
            text: '固化终点-储能模量图',
            left: 'center',
            top: 20,
            textStyle: {
                color: 'black'
            }
        },
        tooltip: {
            trigger: 'axis',
            formatter: function (params) {
                console.log(params)
                return '配方号: ' + params[0].name + '<br>' +
                    '温度:' + params[0].seriesName + '<br>' +
                    '储能模量: ' + params[0].data + '<br>' +
                    '温度:' + params[1].seriesName + '<br>' +
                    '储能模量:' + params[1].data + '<br>' +
                    '温度:' + params[2].seriesName + '<br>' +
                    '储能模量:' + params[2].data
            }
        },
        legend: {
            data: temperaturesEM.map(function (temperature) {
                return temperature + '°C';
            })
        },
        xAxis: {
            type: 'category',
            name: '配方号',
            data: formulationIds
        },
        yAxis: {
            type: 'value',
            name: '储能模量'
        },
        series: seriesData
    };

    var optionLM = {
        title: {
            text: '固化终点-损耗模量图',
            left: 'center',
            top: 20,
            textStyle: {
                color: 'black'
            }
        },
        tooltip: {
            trigger: 'axis',
            formatter: function (params) {
                return '配方号: ' + params[3].name + '<br>' +
                    '温度:' + params[3].seriesName + '<br>' +
                    '损耗模量: ' + params[3].data + '<br>' +
                    '温度:' + params[4].seriesName + '<br>' +
                    '损耗模量:' + params[4].data + '<br>' +
                    '温度:' + params[5].seriesName + '<br>' +
                    '损耗模量:' + params[5].data
            }
        },
        legend: {
            data: temperaturesLM.map(function (temperature) {
                return temperature + '°C';
            })
        },
        xAxis: {
            type: 'category',
            name: '配方号',
            data: formulationIds
        },
        yAxis: {
            type: 'value',
            name: '损耗模量'
        },
        series: seriesData
    };
    chart1.setOption(option);
    chart2.setOption(optionLM);
</script>
</body>
</html>
